<article class="contact">
  <span class="article-subtitle">Contacts</span>
  <nav class="icons">
    {% include menu.html menu=site.external icons=true %}
  </nav>
</article>
<article class="bio">
  <small>
    <p>I'm Robert Habermeier, a researcher, developer, and investor in tech.</p>
    <p>In 2016 I co-founded the <a href = "https://polkadot.network">Polkadot Network</a>. From 2017 onwards, I designed and wrote the vast majority of Proof-of-Stake and consensus code for Polkadot and Substrate, including the code for parachains consensus.</p>
    <p>I co-founded Hypersphere [Ventures | Capital | Digital], a set of network capital enterprises focused on the blockchain space.</p>
    <p>In 2016 and 2017 I worked as an <a href = "https://ethereum.org">Ethereum</a> core developer working on the Parity-Ethereum (now OpenEthereum) client.</p>
  </small>
</article>
