<article class="flex flex-col prose hover:prose-a:text-blue-800">
  <p>I'm Robert Habermeier, a researcher, developer, and investor in tech.</p>
  <p>My professional focus has been on the blockchain space, starting with Ethereum and continuing with Polkadot. 
    I'm an expert in distributed systems, peer-to-peer networking, and Rust. 
    I regularly angel invest in and advise new companies.
  </p>
  <p> Welcome to my site. </p>
  <hr>
  <h2>Current Projects</h2>
  <h2><a href="https://polkadot.network">Polkadot</a></h2>
  <p>
    I was a day-0 contributor and leader of the Polkadot Network, a 3rd-generation blockchain for heterogeneous sharding, scalability, and community governance.
    From 2017 onwards, I designed and wrote the vast majority of Proof-of-Stake and consensus code for Polkadot and Substrate, including the code for parachains consensus.
    During this time I participated in protocol design and implementation and learned to build and run developer teams.
  </p>
  <hr>
  <h2>Prior Projects</h2>
    <h2><a href="https://github.com/openethereum/parity-ethereum">Parity-Ethereum</a></h2>
  <p>
    I was a core developer on the Parity-Ethereum client from 2016 to 2018. We helped to advance the Ethereum space substantially by authoring the first viable alternative Ethereum
    node other than geth.
  </p>

  <h2><a href="https://hypersphere.ventures">Hypersphere</a></h2>
  <p>
    A Polkadot-focused blockchain investment fund. I founded this but am no longer involved.
  </p>
</article>