{%- assign posts = paginator.posts | default: site.posts -%}
{%- assign num_posts = paginator.total_posts | default: 0 -%}
<article>
{% for post in posts %}
  <a href="{{ post.url | relative_url }}">
    <div class="border-2 shadow-md rounded-md p-6 mt-2 hover:border-blue-800">
      {%- assign date_format = site.date_format | default: "%B %d, %Y" -%}
      <h2 class="text-xl pb-3"><strong>{{ post.title }}</strong></h2>
      <time datetime="{{ post.date | date_to_xmlschema }}"><strong>{{ post.date | date: date_format }}</strong></time>
      <p class="pt-3 text-stone-700">{{ post.excerpt }}</p>
    </div>
  </a>
{% endfor %}

</article>

{% if paginator.total_pages > 1 %}
  <footer>
    {% if paginator.previous_page %}<a href="{{ paginator.previous_page_path | relative_url }}">« newer posts</a>{% else %}<span></span>{% endif %}
    <span>page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}<a href="{{ paginator.next_page_path | relative_url }}">older posts »</a>{% else %}<span></span>{% endif %}
  </footer>
{% endif %}
