{% if include.menu %}
  <nav class="flex mx-auto items-start justify-start py-6 space-x-10">
  {% for item in include.menu %}
    {%- assign node = site.pages | where: "name", item.file | first -%}
    {%- assign url = item.url | default: node.url -%}
    {%- assign title = item.title | default: node.title -%}
    <a 
      aria-label="{{ title }}"
      href="{{ url | relative_url }}"
    >
    <span aria-hidden="true" class="text-lg">{{ title }}</span>

    </a>
  {% endfor %}
  </nav>
{% endif %}
