<article>
  <span class="article-subtitle">Projects subtitle</span>
</article>

<article class="project">
  <header>
    <h1><a href="">Hello</a></h1>
  </header>
  <p>
    and short info, perhaps with links to a <a href="">collaborator</a> and <a href="">friends</a>
  </p>
</article>
<article class="project">
  <header>
    <h1><a href="">Another Project</a></h1>
  </header>
  <p>
    Short description
  </p>
</article>
<article class="project">
  <header>
    <h1><a href="">Something else with long title here </a></h1>
  </header>
  <p>
    and short info, perhaps with links to a <a href="">collaborator</a> and <a href="">friends</a>
  </p>
</article>
<article class="project">
  <header>
    <h1><a href="">And the last one</a></h1>
  </header>
  <p>
    <a href="">Link</a>
  </p>
</article>