$font-size: calc(0.8rem + 0.3vw) !default
$font-weight: 400 !default
$heading-weight: 600 !default
$line-height: 1.4 !default
$link-color: #6FCC94 !default
$dark: #1c1d22 !default
$light: #f4f1f1 !default
$mitte: #919191 !default

@function reduce ($percent)
  @return rgba(mix($dark, $light), $percent / 100)
