body
  display: flex
  flex-direction: column
  & > .content
    min-height: 100vh

.content
  flex: 1

body > footer, .content > header
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-between

body > footer
  flex-shrink: 0
  justify-content: center
  font-size: 0.8rem

article header h1
  font-size: 1.8rem
  font-weight: 500
  margin: 0 0 .3em
  color: $gray5
  a 
    font-size: inherit
