body
  min-height: 100vh
  display: flex
  flex-direction: column

.content
  flex: 1

body > footer, .content > header
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-between

body > footer
  flex-shrink: 0
  flex-direction: row-reverse

article header
  margin-bottom: 1.5em

article header h1
  font-size: 1.8em
  margin: 0 0 .1em

nav
  margin: .5em -.8em

nav a
  margin: .5em .8em
