---
---

@import index, highlight

.hidden
  visibility: hidden

.archive
  font-size: 1.1em

.archive time
  display: inline-block
  min-width: 10ch
  margin: 0 .2em

{% unless site.minimal %}

.categories
  color: $link-color
  margin-bottom: .15em

{% endunless %}

{% unless site.navigation and site.external %}

.title
  font-size: 1.3em

{% endunless %}

{% if site.sidebar %}

.hidden
  display: none

{% endif %}

{% if site.sidebar or site.external %}

.icons svg
  height: 1em
  width: 1em
  fill: currentColor
  transition: .2s color
  vertical-align: middle
  margin-bottom: .15em

{% endif %}

{% if site.show_excerpts %}
.more a
  position: absolute
  left: 0
  top: 0
  width: calc(100% + 2rem)
  height: calc(100% + 2rem)
  margin-left: -1rem
  margin-top: -1rem
  border-radius: 6px
  transition: 0.3s
  &:hover
    box-shadow: 0 0 1.5rem rgba(black, .4)

{% endif %}

{% if site.show_related %}

.related div
  flex: 1 0 15em

.related span
  display: block
  color: reduce(100)

.related a
  font-size: 1.2em
  font-weight: bold

@media (min-width: 30em)
  .next
    text-align: right

{% endif %}

{% if site.show_title and site.navigation and site.external %}

.title
  font-size: 1.5em
  font-weight: 500

{% endif %}

{% unless site.sidebar %}

.icons a:hover svg
  color: reduce(100)

@media (min-width: 70em)
  .large
    margin: 1em -20%
  
  .large img
    width: 100%

{% endunless %}

article.blogpost
  max-width: 36rem
  margin-bottom: 3rem
  header, p
    pointer-events: none  

article.bio
  min-height: 8rem
  margin-bottom: 4rem !important
  & > p
    max-width: 36rem
  p, h1
    font-size: 1.6rem
    line-height: 140%
    font-weight: 500
    color: $gray5
  small p
    font-weight: 400
    font-size: 1.3rem
    color: $gray4

article.contact
  margin-bottom: 2rem

article.project
  max-width: 20rem
  margin-bottom: 2rem
  &:hover
    header h1 a
      background: $gray1
  header h1
    margin-bottom: 0
    a
      padding: .1rem .4rem
      margin-left: -.4rem
      border-radius: $border-radius
      font-size: 1.1rem
      font-weight: $font-weight + 200
      &:hover
        background: $link-bg
  p
    margin: 0
    color: $gray3
