@import index, font, basic, layout

.content > header, .content > article, body > footer
  position: relative


@media (max-width: 45rem)
  .content
    width: 100%
    max-width: calc( 100% - 4rem )
    margin: auto
    & > header nav
      margin: 1rem 0 0 -1em
      a
        margin: 0 1em
        font-size: 3.2vw

@media (min-width: 45rem)
  .content
    width: 48rem
    max-width: calc(100% - 14rem)
    margin: 0 0 0 12rem
    & > header
      {% if site.fixed_menu %}
      position: fixed
      {% else %}
      position: absolute
      {% endif %}
      display: inline-flex
      flex-direction: column
      align-content: flex-start
      align-items: flex-start
      left: 0
      top: 1.4rem
      width: 12rem
      nav 
        padding: 0 0 0 2rem
        a
          display: block
          line-height: 1.8
          &.selected
            color: $gray5
          &:first-child
            font-size: 0.9rem
            line-height: 2.5rem
            letter-spacing: 0.02em

@media (min-width: 72rem)
  .content
    margin: auto
    & > header
      left: calc((100% - 72rem)/2)


{% unless site.sidebar %}

body > footer
  background: rgba($gray6, 0.02)
  padding: 0.5rem 0.5rem 0.5rem calc(50% - 37rem)
  justify-content: flex-start
  border-top: 1px solid reduce(16)
  .icons
    min-width: 10rem
    margin-left: 2rem
    a
      margin-right: 1em
  & p
    margin: 0

{% endunless %}
